<div  class="container p-5 d-grid gap-4 ">
    <div class='d-flex justify-content-center'>
        <p class="guide-line">"Remember to keep comments respectful<br>and
            to follow our Community Guidelines"
        </p>
    </div>
    {{#each techs as |tech|}}
    {{> tech-details}}
    {{/each}}

</div>

