<form class="newPostForm">
    <div class="mb-3 m-2">
        <label for="techTitle" class="form-label">Title</label>
        <input class="form-control" id="techTitle" placeholder="Title">
    </div>
    <div class="mb-3 m-2">
        <label for="content" class="form-label">Content:</label>
        <textarea class="form-control" id="techContent" placeholder="Content"></textarea>
    </div>
    <div class="d-flex jutify-content-evenly p-3 ">
        <button type="edit" class="btn btn-primary">Create Post</button>
        <a href="/dashboard" class="btn btn-primary">Cancel</a>
    </div>
</form>
<script src="./js/newPost.js"></script>
</body>

</html>