@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@900&display=swap');

.newPostForm {
    max-width:  100%;
    background-color: royalblue;
    justify-content: center;
    margin-top: 2rem;
    padding: 1rem;
    border-radius: 20px;
    /* margin-left: 15rem; */
    
}

#techContent {
    padding: 5rem;
}

.nav-link {
    color: yellow;
    font-size: 1.5rem;
    
}

.btn-primary {
    font-size: 1.5rem;
    margin-left: 1rem;
    background-color: yellow;
    color: blue;
    padding: 0.7rem;
    border: none;
    text-align: center;
    box-shadow: rgba(60, 64, 67, 2) 0 1px 2px 0,
        rgba(60, 64, 67, 0.15) 0 2px 4px 3px;
    cursor: pointer;

}

.guide-line {
    color: royalblue; 
    background-color: yellow;
    padding: 0.7rem;
    border: none;
    text-align: center;
    box-shadow: rgba(60, 64, 67, 2) 0 1px 2px 0,
        rgba(60, 64, 67, 0.15) 0 2px 4px 3px;
    cursor: pointer;

}

.blogs-created-by {
    color: royalblue;
    font-weight: 600;
}





