@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@900&display=swap');

.main-handle-container {
  display: flex;
  justify-content: center;
  text-align: center;
}

.nav-link {
  color: yellow;
  font-size: 1.5rem;
  
}

.btn-primary {
  font-size: 1.5rem;
  margin-left: 1rem;
  background-color: yellow;
  color: blue;
  padding: 0.7rem;
  border: none;
  text-align: center;
  box-shadow: rgba(60, 64, 67, 2) 0 1px 2px 0,
      rgba(60, 64, 67, 0.15) 0 2px 4px 3px;
  cursor: pointer;

}

.guide-line {
  color: royalblue; 
  background-color: yellow;
  padding: 0.7rem;
  border: none;
  text-align: center;
  box-shadow: rgba(60, 64, 67, 2) 0 1px 2px 0,
      rgba(60, 64, 67, 0.15) 0 2px 4px 3px;
  cursor: pointer;

}

 .btn-danger {
    border-radius: 70px;
    background-color: rgb(244, 174, 10);
    color: royalblue;
    border: none;
    box-shadow: rgba(60, 64, 67, 2) 0 1px 2px 0,
        rgba(60, 64, 67, 0.15) 0 2px 4px 3px;
    cursor: pointer;
}


.homepage-text {
  gap: 5px;
}


/* .btn-primary {
  font-size: 1.5rem;
  margin-left: 1rem;
  background-color: yellow;
  color: blue;
  padding: 0.7rem;
  border: none;
  text-align: center;
  box-shadow: rgba(60, 64, 67, 2) 0 1px 2px 0,
      rgba(60, 64, 67, 0.15) 0 2px 4px 3px;
  cursor: pointer;

} */













/* .newPostForm {
    max-width:  100%;
    background-color: royalblue;
    justify-content: center;
    margin-top: 2rem;
    padding: 1rem;
    border-radius: 20px;
    /* margin-left: 15rem; 
    
} 

#techContent {
    padding: 5rem;
}

.nav-link {
    color: yellow;
    font-size: 1.5rem;
    
}

.btn-primary {
    font-size: 1.5rem;
    margin-left: 1rem;
    background-color: yellow;
    color: blue;
    padding: 0.7rem;
    border: none;
    text-align: center;
    box-shadow: rgba(60, 64, 67, 2) 0 1px 2px 0,
        rgba(60, 64, 67, 0.15) 0 2px 4px 3px;
    cursor: pointer;

}

.guide-line {
    color: royalblue; 
    background-color: yellow;
    padding: 0.7rem;
    border: none;
    text-align: center;
    box-shadow: rgba(60, 64, 67, 2) 0 1px 2px 0,
        rgba(60, 64, 67, 0.15) 0 2px 4px 3px;
    cursor: pointer;

}

.blogs-created-by {
    color: royalblue;
    font-weight: 600;
}

/* .btn-danger {
    border-radius: 70px;
    background-color: rgb(244, 174, 10);
    color: royalblue;
    border: none;
    box-shadow: rgba(60, 64, 67, 2) 0 1px 2px 0,
        rgba(60, 64, 67, 0.15) 0 2px 4px 3px;
    cursor: pointer;
} */

.main-handle-container {
  display: flex;
  justify-content: center;
  text-align: center;
}



/* .container-md {
    width: 50%;
    height: 30rem;
    padding: 10px;
    margin-top: 20rem;
    background: rgb(238, 211, 34);
}


form {
     display: flex;
    flex-direction: column;
    gap: 1.4rem; 
  } 
  
  form div {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
  }
  
  input {
    padding: 0.5rem;
    border-radius: 0.3rem;
    border: 1px solid gray;
    font-size: 1.1rem;
  }

  .btn-block {
    margin-left: 3px;
    background: olivedrab;
    border: none;
    
  }

  .btn-block:hover {
    background-color: rgb(99, 128, 41);
    transform: scale(1.2);
    transition: .5s;
  }


  span a {
    text-decoration: none;
    color: #fff;
  }

  






 */
