@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@900&display=swap');

.main-handle-container {
  display: flex;
  justify-content: center;
  text-align: center;
}

.nav-link {
  color: yellow;
  font-size: 1.5rem;
  
}

 .btn-primary {
  font-size: 1.5rem; 
  margin-left: 1rem;
  background-color: yellow;
  color: blue;
  padding: 0.7rem;
  border: none;
  text-align: center;
  box-shadow: rgba(60, 64, 67, 2) 0 1px 2px 0,
      rgba(60, 64, 67, 0.15) 0 2px 4px 3px;
  cursor: pointer;

} 

.guide-line {
  color: royalblue; 
  background-color: yellow;
  padding: 0.7rem;
  border: none;
  text-align: center;
  box-shadow: rgba(60, 64, 67, 2) 0 1px 2px 0,
      rgba(60, 64, 67, 0.15) 0 2px 4px 3px;
  cursor: pointer;

}

 .btn-danger {
    border-radius: 70px;
    background-color: rgb(244, 174, 10);
    color: royalblue;
    border: none;
    box-shadow: rgba(60, 64, 67, 2) 0 1px 2px 0,
        rgba(60, 64, 67, 0.15) 0 2px 4px 3px;
    cursor: pointer;
}

 .logo {
  font-size: 3rem;
  color: rgb(199, 86, 86);
  
}

.blogs-created-by {
  background: rgb(199, 78, 78);
  padding: 5px;
  color: #fff;
  border-radius: 5px;
}

 a {
  color: gray;

} */

 h3 {
  color: royalblue;
}

h4 {
  color: gray;
}


@media screen and (max-width: 768px) {
  #media {
    margin-top: -150px;
  }
}
















